[2016-05-04 14:20] czyzby opened #1 "Success screen"
A success screen should be displayed after the project is properly generated. An additional error dialog might be shown if any exceptions are thrown during generation.

[2016-05-04 14:23] czyzby opened #2 "iOS support"
- [x] RoboVM backend. #26
- [x] MOE backend. #27

[2016-05-04 14:26] czyzby opened #3 "Android SDK analysis"
Original `gdx-setup` analyses Android SDK at the given path - this application just trusts you to do the right thing and enter path to the correct directory. It would be nice to inspect and move the Android SDK analysis code from the original application, and attach it as a custom validator to the Android SDK text field.

[2016-05-04 14:30] kotcrab opened #4 "Add Artemis-odb extension"
[Artemis-odb](https://github.com/junkdog/artemis-odb) is an alternative to libgdx's Ashley. Definitely worth including.

[2016-05-04 14:32] czyzby opened #5 "Gradle wrapper"
- [x] Optional advanced property: include Gradle wrapper.
- [x] Optional advanced property: name of Gradle tasks to run after generation.

Gradle wrapper was excluded from the initial `gdx-setup` on purpose - it makes the jar a lot bigger, forces a specific Gradle version and thanks to *not* running the Gradle tasks, the generation takes a fraction of second instead of up to a few minutes.

Howeve

[2016-05-04 14:35] czyzby commented on #4
Note that VisEditor includes Artemis dependencies manually. Remove Artemis-related code from VisEditor runtime extension and replace with `Artemis().initiate(project)`. If you need a specific version to make sure that VisEditor works properly, you can override `artemisVersion` property *after* invoking its `initiate` method.

[2016-05-04 14:46] czyzby opened #6 "VisEditor-related templates"
- [x] VisUI: basic usage. (How to include VisUI in an actual project?)
- [x] VisUI: widget showcase.
- [x] VisEditor: basic usage. (How to load a VisEditor scene and use it in an application?)
- [x] ~~VisEditor: simple game.~~

[2016-05-04 15:01] czyzby opened #7 "Autumn-related templates"
- [x] Kiwi: simple usage example. (Convert the good old project template to Kiwi, show disposing utilities.)
- [x] Kiwi: input handling.
- [x] LML: simple usage. (How can I parse a LML template to get the actors?)
- [ ] LML: `LmlApplicationListener`. (How can I use LML to manage my views?)
- [x] Autumn MVC: simple usage. (How do I create a Autumn MVC view?)
- [x] Autumn MVC: solid template. (Loadi

[2016-05-04 15:02] kotcrab commented on #4
If I do it this way then I will end up with duplicated `net.onedaybeard.artemis:artemis-odb` core dependency (it will be included for the second time from `vis-runtime` itself). I understand that this won't make any difference but there maybe situation where user would want to update Artemis version and will look at their `build.gradle` and may try to change its version there - which is wrong and

[2016-05-04 15:10] czyzby commented on #4
I meant that there will be no duplicated `net.onedaybeard.artemis:artemis-odb` lines one after another in Gradle files. I think you mean that there might be version *conflicts*.

If the user chooses another Artemis version than the one referenced by VisRuntime, Gradle will resolve this by choosing the newer library (I think this is the default behavior).

However, library versions are taken direct

[2016-05-04 15:16] czyzby opened #8 ""Official" templates"
- [x] Empty template, no sources generated.
- [x] `ApplicationListener`.
- [x] `ApplicationAdapter`.
- [x] `Game`, basic `Screen` usage.
- [x] `InputProcessor`: combined `ApplicationListener` and `InputAdapter`.
- [x] `Scene2D`, basic GUI.
- [x] Classic: the old project template from original `gdx-setup` (displaying BadLogic logo).

[2016-05-04 15:22] czyzby opened #9 "USL extension"
- [x] Added to third-party extensions.
- [x] ~~Simple project template. *Is it necessary though?*~~
- [x] Gradle task, simple `.usl` file included in `raw` folder.
  - [x] Translate the default skin file to USL, so it could be used along with the `pack` task.

USL is an alternative to plain LibGDX skin JSON files. It could be easily added as a Gradle build time dependency and invoked via Gradle ta

[2016-05-04 15:29] kotcrab commented on #4
I meant that including `net.onedaybeard.artemis:artemis-odb` is not required at all for `vis-runtime`. Because `vis-runtime` already [includes it](https://github.com/kotcrab/vis-editor/blob/master/build.gradle#L97).

Using `Artemis().initiate(project)` would create dependency tree like this:
[code]
Well, this could lead to version conflict in the future if user changes second version of included A

[2016-05-04 15:39] czyzby commented on #4
Nonetheless, GWT requires its sources, so you have to include the dependencies explicitly at some point. You could leave it as-is (include only Artemis sources in GWT, before checking if Artemis isn't already included) if the conflict is bothering you, but - well - I think that's a pretty common situation. Don't forget that *most* of third-party libraries depend on an old LibGDX version and applic

[2016-05-04 18:22] czyzby opened #10 "SquidLib extension"
[SquidLib](https://github.com/SquidPony/SquidLib) is a toolbox for turn-based games based on LibGDX. While it seems to come with a separate project generator tool, including this extension in `gdx-setup` - possibly with a showcase template - would certainly be nice.

Since we'd rather not use snapshot versions (or their equivalents), the library should probably be included after the next release t

[2016-05-04 19:14] #8 closed

[2016-05-04 19:55] #4 closed

[2016-05-04 19:55] kotcrab commented on #4
This is correct.

Yeah you are right, I'm probably being too nitpicking here.

With the current solution it works properly when both extensions are selected. Version forced by VisRuntime will be used but I don't know if you like this solution. It's fragile because it depends on order in which extensions are defined in `thirdPartyExtensions.kt`.

If both extensions are checked Artemis is evaluated

[2016-05-04 21:00] kotcrab opened #11 "Add Github hook for CI server"
I've created [CI job](http://kotcrab.com:8080/job/gdx-setup/) on my server however to make it fully automatic @czyzby needs to create webhook. (only repository owners can do this)

1. Go to repository settings, then Webhooks.
2. Add new webhook to URL `http://kotcrab.com:8080/github-webhook/`
3. Set content type to `application/x-www-form-urlencoded`
4. Pick `Just the push event.`

This way new sn

[2016-05-04 21:32] kotcrab opened #12 "Make disabled UI elements darker"
Disabled UI elements should be darker than enabled widgets. Currently they are brighter so it may confuse users. For example take a look at Android SDK path field or at FileChooser Back and Forward buttons.

[2016-05-05 10:27] czyzby commented on #11
Added. Can you check if everything's OK?

[2016-05-05 10:32] czyzby commented on #4
I don't think it's much of an issue. Anyone using VisEditor is probably aware that it uses Artemis internally and will not add this dependency - we can even include a simple message (in tooltip) that VisRuntime also initiates Artemis ODB.

[2016-05-05 10:46] kotcrab commented on #11
We'll see after committing something.

[2016-05-05 10:55] kotcrab commented on #11
Build was triggered correctly, closing.

[2016-05-05 10:55] #11 closed

[2016-05-05 16:32] czyzby commented on #12
@kotcrab I'd like your input on the changes.

[2016-05-05 17:59] kotcrab commented on #12
Disabled text field looks good however this change broke FileChooser navigation buttons, unnecessary `imageUp: icon-folder, imageDisabled: icon-folder-disabled `?

You can use [setGenerateDisabledImage](https://github.com/kotcrab/vis-editor/blob/master/ui/src/com/kotcrab/vis/ui/widget/VisImageButton.java#L103-L105) to automatically draw grayed version of image when button is disabled.

[2016-05-05 19:45] kotcrab commented on #12
I've fixed this, you can close this if you think it's OK now.

[2016-05-06 13:41] #12 closed

[2016-05-06 13:49] #1 closed

[2016-05-06 14:50] czyzby opened #13 "VisTextArea usage refactor"
- [x] Text area should be scrollable - it must support being embedded in a scroll pane. It currently works when the scroll pane has a fixed size set by the table cell, but we'd like to support *min* size and resizeable windows. (This works only ***partially***. Maybe there should be more text area invalidations on different events.)
- [x] Read-only mode. The user should be able to select and copy

[2016-05-06 18:54] czyzby commented on #5
@kotcrab Can you check if running post-generation Gradle tasks works on Windows? You can find this property in `Advanced` tab.

[2016-05-06 19:27] kotcrab commented on #5
With wrapper:
[code]
Without wrapper:
[code]

`gradlew.bat` is present in this directory and `gradle` command is available globally from cmd

[2016-05-06 19:32] czyzby commented on #5
Could you modify `project.kt` at 168? Try this: `basic.destination.file().absolutePath + "\\gradlew.bat"` and use the wrapper.

[2016-05-06 19:36] kotcrab commented on #5
`basic.destination.file().absolutePath + File.separator + "gradlew.bat"` works when using wrapper.

[2016-05-06 19:39] czyzby commented on #5
Pull and try now.

[2016-05-06 19:44] kotcrab commented on #5
It works now, tested with and without wrapper. By the way I think it's worth explicitly saying that putting `gradlew` inside task field is not needed, it's a bit unclear now.

[2016-05-06 19:47] #5 closed

[2016-05-06 19:56] kotcrab opened #14 "Add option to automatically clear destination folder"
There should be advanced option to clear destination folder when it is not empty. It would be useful for debugging and checking various templates. Confirmation warning should be shown if directory is not empty. This should also modify FromValidator conditions accordingly (remove check for empty directory).

[2016-05-06 22:10] czyzby opened #15 "General GUI changes"
- [x] Undecorated mode. System title bar should not be shown.
  - [x] Support application dragging.
  - [ ] Support window resizing (?).
     - [ ] Min window size.
- [x] Iconify (minimize) button.
- [x] Application icon

[2016-05-07 07:57] kotcrab commented on #15
[2016-05-07_0955](https://cloud.githubusercontent.com/assets/4594081/15090982/e5b207ee-1439-11e6-850d-04d801ed6415.png)
On Win7 window border is still present in undercoated mode. As a side note this doesn't happen with undecorated Swing windows.

[2016-05-07 08:49] kotcrab commented on #13
Scrollable text area seems to work pretty well now. I tested with small and big amount of text. This also fixes that weird scroll bar jump on first window resize (by calling `dialog.invalidate()` before show).

[2016-05-07 08:51] kotcrab commented on #13
Well I'm not sure about the font, it doesn't show code so I don't think monospaced font is needed but if you want I can change it. 'Small' font is being used already.

[2016-05-07 08:59] kotcrab commented on #15
If we consider changing backend to LWJGL3 then undecorated mode should be supported properly, there is method to minimize window from code. Setting min window size will be supported in GLFW 3.2. Window dragging would have to be implemented manually. I have a felling that libgdx may report wrong mouse position when window is dragged but I think we could use GLFW to get raw mouse position.

[2016-05-07 14:13] czyzby commented on #15
You're absolutely right, the reported mouse position when dragged is terribly off. I tried to implement dragging behavior, but the user experience is horrible (even if the input is normalized). I think we should switch to LWJGL3.

[2016-05-07 14:16] #3 closed

[2016-05-07 14:16] #14 closed

[2016-05-07 14:26] czyzby commented on #13
Yes, I think the small font is OK.

I tested your changes locally and text area seems to be working as expected. Thanks.

[2016-05-07 14:26] #13 closed

[2016-05-07 16:34] czyzby opened #16 "IllegalStateException on Mac when not running on the main thread"
This is a known LibGDX/LWJGL3 issue. We could manually restart the application if `-XstartOnFirstThread` argument is absent.

[2016-05-07 17:02] czyzby commented on #15
Current known issues:
- Window is not resizable. Since it's undecorated, we would have to implement this functionality manually (which would solve the no-min-size-param issue: we could limit window size while doing this). I'm not sure if that's needed, so let's just put it on hold.
- Window is not draggable while a dialog is shown. Neither can you use the minimize/close icons. This is expected, as

[2016-05-07 19:28] kotcrab opened #17 "Application does not exit after generating project"
After generating project and closing main window app process is still running, Maybe Executor is not being shutdown properly?

[2016-05-07 19:38] kotcrab commented on #6
Added showcase template in https://github.com/czyzby/gdx-setup/commit/3a252af5b73f17527078bbf1571166a8955c911c (forgot to mention issue).

[2016-05-07 19:43] kotcrab opened #18 "Fallback to English I18N when no local translation is available"
Currently application will crash if there is no valid key in `pl` bundle but it exists in `en` bundle. In such case it should fallback to English locale. In the future locales might be out of sync - after all we can't know all languages and might not be able to update them ourselves so fallback strategy should be used.

[2016-05-07 19:51] kotcrab commented on #15
How about the application icon? I added it to the list. Status: GLFW does not support setting application icon, it will be added in 3.2. Alternative is to consider using JNA to invoke native APIs. I have made class that allows to do this on Windows and X11, the latter needs more testing on various distributions. If we add JNA we can also use `JNAFileDeleter` to enhance `FileChooser` UX. However JN

[2016-05-07 21:46] #16 closed

[2016-05-07 22:26] #17 closed

[2016-05-08 09:27] czyzby commented on #18
We could move all lines from `nls_en.properties` to `nls.properties`, but the application crashing is sort of the expected behavior: it's easy to track down missing lines this way, and translations that are just kind of half way through are not accepted. I think this should be considered when there are more locales around (more than the current devs are comfortable with).

[2016-05-08 09:29] czyzby commented on #15
If you'd like to move application setting code from `VisEditor` to `gdx-setup`, I'm fine with it. However, when GLFW starts supporting icon setting, I think we should drop the JNA dependency - is there any reason why `JNAFileDeleter` is superior to the default one?

[2016-05-08 09:40] czyzby commented on #6
Maybe you should consider removing/commenting out `FileChooser` code. It's likely to crash on GWT, it would be nice if the demo worked on every platform.

[2016-05-08 10:15] #10 closed

[2016-05-08 10:22] czyzby opened #19 "SquidLib-related templates"
- [x] A simple project. (_How to use SquidLib in my game?_)
- ~~A showcase text-based demo. (_What can be done with SquidLib?_)~~
- [ ] Update project according to the latest `3.0.0-b8` features.

[2016-05-08 10:29] kotcrab commented on #18
I agree, this will become problem when more languages would be added.

[2016-05-08 10:30] czyzby commented on #17
I don't think that the executor threads should be daemons, since they actually do the hard work in the application. If anything, the rendering is not that important when generating projects data.

Anyway, since I never had this problem in the first place, can you check if the application exists properly after I added destruction method?

[2016-05-08 10:31] kotcrab commented on #15
`JNAFileDeleter` supports moving files to system trash instead of deleting them permanently. I think that this is more expected behavior from file chooser than deleting files permanently.

[2016-05-08 10:33] czyzby commented on #18
After we're done with most planned features (translations become "semi-stable"), we could move the whole `nls_en.properties` file to the bottom of `nls.properties` and proceed it with a comment like this: `# The following bundle lines should be translated:`. But since the application is kind of a work in progress, we can leave it as it is for now to quickly track bugs. After all, you're unlikely t

[2016-05-08 10:36] kotcrab commented on #17
Yes it exits correctly. I think this became problem after switching to LJWGL3 - I think LWJGL2 uses more *drastic* exit procedure.

Well you are calling `shutdownNow` anyways - this actively tries to shutdown all running tasks. Use `shutdown` if you want to allow running tasks to finish.

[2016-05-08 10:39] czyzby commented on #17
If the user - for whatever reason - closes the application during generation, he should expect errors in this project. I can imagine that one would like to "kill" and restart his application when running some unfortunate Gradle task (like `dist` on GWT, which takes up to several minutes). This isn't much different from the daemon approach (the application closes immediately), but now the executor

[2016-05-08 10:43] kotcrab commented on #6
Right, I'll remove it. Too bad file chooser is one of the nicest widgets.

[2016-05-08 10:43] kotcrab commented on #17
I see, I didn't know daemon threads affect performance, I though they only don't prevent JVM from exiting if they are still running.

[2016-05-08 10:43] czyzby commented on #6
I suggest leaving it as a comment. Anyone going through the code should find and test it without any problems.

[2016-05-08 10:45] czyzby commented on #15
[Source](http://stackoverflow.com/questions/2213340/what-is-daemon-thread-in-java). They are called background threads for a reason.

[2016-05-08 10:46] czyzby commented on #17
[Source](http://stackoverflow.com/questions/2213340/what-is-daemon-thread-in-java). They are called background threads for a reason.

[2016-05-08 10:51] czyzby commented on #15
`gdx-setup` is already pretty big. I don't think that we should include another dependency *permanently*, especially since it will be removed as soon as "native" support for application icons will be added. The "clear folder" utility is more convenient anyway (`FileChooser` supports only a single deletion at a time - which is to be expected, since we don't use it in multi-select mode).

[2016-05-08 11:19] kotcrab commented on #18
Ok, after it's done CONTRIBUTING.md should be updated as well.

[2016-05-08 11:36] czyzby commented on #18
https://github.com/czyzby/gdx-setup/releases/tag/v1.9.2-beta1

[2016-05-08 11:45] czyzby commented on #18
Sprawdź, czy nic się nie wywala, zanim ogłosimy się światu. : P

[2016-05-08 11:53] czyzby commented on #18
http://www.badlogicgames.com/forum/viewtopic.php?f=17&t=22511

[2016-05-09 00:43] tommyettinger opened #20 "Android projects don't seem to handle natives correctly?"
I can generate a project just fine with gdx-setup (I downloaded the latest nightly linked from the main page), and can even run certain tasks for the project (like `desktop:run`) from the command line, but I can't import the project into IntelliJ IDEA and I can't run basic tasks like `gradlew tasks`. There's an error in IDEA about missing the armeabi native jar that should be part of gdx-platform,

[2016-05-09 07:45] tommyettinger commented on #19
OK, here's the simple-ish project. It seems more complicated than it is because I put documentation on almost every line, which hopefully will help someone getting started with the (large, large) library.

https://github.com/tommyettinger/SquidLib-Demos/tree/master/GdxSetup/SquidLibBasicDemo

I needed to comment out a section of the Android project's build.gradle for this to even import into IDEA,

[2016-05-09 09:48] czyzby commented on #20
That's strange, the Android project seems to work locally on Linux (Mint) and @kotcrab 's Windows. Chances are you're using the wrong versions somewhere. Are you sure that the correct Android target API and build tools are chosen? Try clicking the up and down arrow buttons near the Android SDK to automatically. choose the appropriate versions.

[2016-05-09 10:06] czyzby commented on #19
You're right, SquidLib dependency did not properly include the whole SquidLib Util. It's fixed now.

As for the Android application, I cannot reproduce your problem. This is one of the templates running in an Android simulator via Android Studio (a.k.a. why `ScreenViewport` is not always the greatest idea):

![android](https://cloud.githubusercontent.com/assets/11707612/15109948/582379c0-15de-11e6

[2016-05-09 10:07] czyzby commented on #20
This is one of the default templates running in an Android emulator via Android Studio - the project was imported as Gradle project, and no changes were required whatsoever.

![android](https://cloud.githubusercontent.com/assets/11707612/15109948/582379c0-15de-11e6-9987-bd305e72f0b1.png)

[2016-05-09 11:52] czyzby commented on #19
Just wanted you to know that demos might include multiple files, not only the core class - if you want to split the next project a little bit (for readability), it's OK. The main class seems rather long, although I understand that it's mostly just the comments.

I tested your project on desktop, GWT and Android (emulator) and it seems to be running just fine. Thanks.

![squid](https://cloud.github

[2016-05-09 16:06] kotcrab commented on #20
I can import Android project just fine into IDEA and run it on real device. IDEA gives proper errors when it can't find build tools: "failed to find Build Tools revision xx.x.x". I don't have `gdx-platform-1.9.2-natives-armeabi.jar` in that location either.

[2016-05-09 16:25] kotcrab opened #21 "Update checker"
It would be good idea to add update checker checking for newer version of gdx-setup. This can implemented in very simple way, there would be one text file with latest version URL either in this repository or on GtiHub pages. If newer version is found then dialog would be displayed (or less obstructive notification somewhere in the main window) and upon clicking on it user would be taken to that UR

[2016-05-09 16:35] kotcrab commented on #15
I agree on dropping JNA once GLFW supports icons but It might take some time to have GLFW updated. First there have to release new GLFW version, then LWJGL3 has to update and release new version and finally libgdx backend needs to update to newer LWJGL3.

I can add icon changer from vis-editor but first I have to setup Mint VM. Unless you want to help me with debugging that, in that case I can pus

[2016-05-09 21:15] tommyettinger commented on #15
Tooltip descriptions that appear on hover don't last long enough for me to read them sometimes. I've had cases where every tooltip on a screen vanishes after a second or less, and other cases where the tooltip stays up until I move the mouse (which I would expect for behavior). Not sure what causes that, if it's in the gdx-setup code or if it's my laptop trackpad being weird and sending very sligh

[2016-05-09 21:16] tommyettinger commented on #19
Woohoo! Thanks for adding this. Now it's showcase time...

[2016-05-09 21:28] kotcrab commented on #15
Interesting. You are right, tooltips will disappear even after slight movement. I see how this can be annoying to trackpad users. I'll add some kind of bounds check to allow small mouse movement after showing tooltip. See https://github.com/kotcrab/vis-editor/issues/180

[2016-05-10 09:01] czyzby commented on #20
I corrected the Android native dependencies, although I'm afraid the jar you mentioned was already included. @tommyettinger - could you download the snapshot and try now?

[2016-05-10 09:44] czyzby commented on #21
A toast with a link to releases is displayed if your current version doesn't match the latest release. I think it would be nicer if it was displayed on the bottom of the screen (it covers the LibGDX logo), but `ToastManager` currently does not support alignment. @kotcrab - check if it's OK.

[2016-05-10 12:24] czyzby opened #22 "Web socket project templates"
- [x] Basic `gdx-websocket` usage. (*How to connect to an external web socket service?*)
- ~~***Maybe***: simple server-client setup. Would require external dependency for web socket server application, as `gdx-websocket` provides only the client implementation.~~

[2016-05-10 14:46] kotcrab commented on #21
Looks OK, I'll handle the alignment in `ToastManager`. Let's leave this open.

[2016-05-10 15:36] kotcrab commented on #21
Setting toast alignment is now supported.

[2016-05-10 16:03] kotcrab commented on #15
Tooltips now don't fade out on mouse move. No change is needed on gdx-setup side.

[2016-05-11 12:08] #21 closed

[2016-05-11 20:27] czyzby opened #23 "Noise4J extension"
- [ ] Include in third-party extensions.
- [ ] Provide a simple example project.

Noise4J is a lightweight map generation utility library.

[2016-05-11 21:17] #23 closed

[2016-05-13 18:53] kotcrab commented on #15
Application icon is now supported on Windows and *some* graphical platforms using X11.

[2016-05-13 18:57] czyzby commented on #15
I'm afraid this is as far as we can get until GLFW includes the *proper* way to do this. Good job.

[2016-05-13 19:00] czyzby commented on #15
Actually, since undecorated mode works pretty good, I don't think that the window resizing is absolutely necessary. I'm closing this issue for now, but I'm willing to open it again if people start screaming.

[2016-05-13 19:00] #15 closed

[2016-05-13 19:26] intrigus commented on #15
GLFW already includes the _proper_ way to do it. The problem is that libgdx's LWJGL/GLFW version is outdated.

[2016-05-13 19:34] czyzby commented on #15
Fixed. ;)

[2016-05-13 19:35] kotcrab commented on #15
@intrigus It has milestone for GLFW 3.2 which wasn't even released yet. I'm sure it will take long time to have LWJGL and libGDX update. And well this is *proper* way, same native APIs are being called underneath.

[2016-05-13 19:37] czyzby commented on #15
Let's go with "standardized" instead of "proper". Some day in the future we can drop the additional dependency and let GLFW handle icon changing.

[2016-05-15 10:15] czyzby opened #24 "README generation"
A simple `README.md` file could be optionally generated if the user asks the application to do so. It could contain descriptions of basic Gradle tasks.

[2016-05-15 10:15] #24 closed

[2016-05-17 11:59] czyzby opened #25 "Update to LibGDX 1.9.3"
[LibGDX 1.9.3 was released.](http://www.badlogicgames.com/wordpress/?p=3934)

[2016-05-17 12:01] czyzby opened #26 "Add iOS backend support"
- [x] Include `iOS` platform.
- [x] Add iOS-specific libraries.
- [x] Include iOS launchers in project templates.
- [x] Include RoboVM version in advanced settings.

[2016-05-17 12:02] czyzby opened #27 "Add MOE backend support"
- [x] Include `MOE` platform.
- [x] Add MOE-specific libraries.
- [x] Include iOS MOE launchers in project templates.
- [x] Include MOE version in advanced settings.
- [x] Check if MOE is installed. Add warning (and disable form?) if backend is chosen, but MOE is not installed locally.

[2016-05-17 13:46] #25 closed

[2016-05-17 15:43] czyzby commented on #26
@kotcrab Can you test this?

[2016-05-17 16:30] kotcrab commented on #26
It imported into IDEA fine on Windows. I guess I can't test anything more on Windows, right?

@intrigus could you help us test project generation on Mac?

[2016-05-17 16:36] czyzby commented on #26
I don't think so, no. At least you can import/modify it on Windows and Linux without any problems, that's something.

[2016-05-18 09:01] czyzby commented on #20
@tommyettinger - does the problem still occur when using latest version with LibGDX 1.9.3?

[2016-05-18 09:12] tommyettinger commented on #20
Seems completely fixed here. I don't know what caused the problems the first time, but I have no problems with the latest download. Thanks @czyzby ! I'll close this if you don't mind.

[2016-05-18 09:12] #20 closed

[2016-05-18 09:30] czyzby commented on #20
Android natives are downloaded and copied using Gradle, so my guess is that there was something wrong with Gradle itself - maybe you interrupted an Android-related task or used old Gradle version? Anyway, I don't mind closing this issue, as I was unable to reproduce this problem in the first place - I'm glad it works for you now.

[2016-05-18 09:38] tommyettinger commented on #20
That seems likely, that something was interrupted. (Possibly antivirus scan didn't like something downloading? Possibly my hard drive is in a sad state?)

[2016-05-18 16:18] intrigus commented on #26
Everything works fine via Eclipse and cli.
@czyzby Could you (as an exchange) have a look at https://github.com/libgdx/libgdx/pull/4084 ?

[2016-05-18 16:55] czyzby commented on #26
Great, thanks.

Do you want to me to test these or do a code review? I cannot merge it into the main repo (obviously), and I'm pretty sure there's not much difference between, say, Chrome on Windows and on Linux. I've looked through the code and have some minor suggestions, but it looks fine.

[2016-05-18 17:01] czyzby commented on #26
Since the generated projects are pretty much the same as the ones from the official `gdx-setup` and iOS project was tested, I'm closing this issue for now. Don't hesitate to comment/reopen if there are any bugs in the RoboVM project generation.

[2016-05-18 17:02] intrigus commented on #26
@czyzby Thanks for you review and your 👍  on the issue :)

Waiting for MOE support :)

[2016-05-18 17:07] czyzby commented on #26
You can watch the progress in #27. I want to include some checks if MOE is properly installed, but - unfortunately - there's no Linux support yet, so I might have to leave this one for @kotcrab or set up a VM. This might take a while (~week?).

[2016-05-23 09:34] czyzby opened #28 "Add alternative desktop platforms"
- [ ] JGLFW.
- [ ] LWJGL 3.

[2016-05-23 10:00] czyzby opened #29 "JTransc platform"
[JTransc](https://github.com/jtransc/jtransc) is an AOT compiler of Java bytecode into Haxe, which in turn allows to run the code on multiple platforms. [JTransc LibGDX backend](https://github.com/jtransc/gdx-backend-jtransc) seems to be based on [Lime](https://github.com/openfl/lime). While it's possible that Android and desktop games would be simply faster using the default backends, JTransc giv

[2016-05-24 17:12] #28 closed

[2016-05-24 17:13] czyzby commented on #28
Loading music throws exception on Linux, I think this is related to: https://github.com/badlogic/jglfw/issues/2

@kotcrab Can you check if the backends are relatively stable on Windows?

[2016-05-24 17:26] czyzby commented on #26
https://github.com/libgdx/libgdx/issues/3866

[2016-05-24 17:27] #26 closed

[2016-05-24 17:31] kotcrab commented on #27
@czyzby checkout `moe` branch. Imports cleanly with Android Studio with MOE installed. I'm afraid that's all I can check. When I try to create launch configuration I get error "it is for Mac only".

There is not enough space in Advanced tab, not sure what to do with it. You can just increase app height I think.

What you mean by "Add MOE-specific libraries."?

[2016-05-24 17:35] kotcrab commented on #28
I've never heard of anyone using JGLFW to be honest. Both LWJGL 3 and JGLFW import into Intellij and run cleanly with VisUI showcase template.

[2016-05-24 18:14] czyzby commented on #27
Natives for extensions like Box2D and so on. I think I already added these along with the RoboVM backend, as most were duplicated.

`ScrollPane`?

[2016-05-24 18:32] czyzby commented on #27
Merge https://github.com/czyzby/gdx-setup/commit/db5453cf3425b364f0358eb570a44dce1e65f2fe - it should be fine. I think we can merge it with master after you replace the images with their equivalents from `generator/ios` - they seem to be roughly the same.

[2016-05-24 18:42] kotcrab commented on #27
Damn forgot about the images, I'll fix that.

[2016-05-24 18:46] intrigus commented on #28
JGLFW is only used on Mac by [Spine](http://esotericsoftware.com/).

[2016-05-24 18:48] kotcrab commented on #27
Alright, done. We can close this after somebody confirms it's working. @intrigus could you do some testing?

[2016-05-24 18:50] czyzby commented on #28
It's not checked on by default, neither is it affected by the "toggle clients" button. Unless LibGDX devs ditch it completely, it should be available. I think giving people an alternative is always nice, even if there are superior options - to be honest, I didn't even know about this backend before I started working on `gdx-setup`.

[2016-05-24 23:02] intrigus commented on #27
Will try it tomorrow.

[2016-05-26 12:25] czyzby commented on #19
@tommyettinger Are you planning on preparing a showcase example or is there a working example that I could convert to a project template?

[2016-05-28 08:27] tommyettinger commented on #19
I dropped the ball here! I saw your reply on my phone, went to my computer, and immediately forgot what I was doing. I will try to get a showcase example ready in the next few days; I'm not sure what scale it should have but I have an idea of the kinds of things to showcase. **Should the example be created with gdx-setup initially, and would that make it easier to convert it in any way?**

Just so

[2016-05-28 10:59] czyzby commented on #19
If you have an existing application that would take time to convert, you don't have to recreate it wigh `gdx-setup`, but if you're planning on writing something new, I don't see why not.

Great, thanks.

[2016-05-29 18:26] czyzby commented on #27
Tested and seems to be working, reopen or comment if any errors occur.

[2016-05-29 18:26] #27 closed

[2016-05-29 18:26] #2 closed

[2016-05-30 05:43] tommyettinger commented on #19
OK, writing the demo I managed to find (and fix) a bug in SquidLib's animation code. I just released a new version (I don't know if Gradle's version ranges handle it, but the new version is `3.0.0-b6` on Maven). This version is an update for `squidlib` to `3.0.0-b6`, `squidlib-util` to `3.0.0-b6`, and `regexodus` to `0.1.5`. I'm not sure where I should request a version bump, if at all. @czyzby ,

[2016-05-30 10:27] czyzby commented on #19
It's OK to request updates in issues, I'll update the default library versions asap.

[2016-05-31 16:23] kotcrab commented on #9
@czyzby Please check `usl` branch.

I agree that example project is unnecessary. Not sure about adding it to headless or desktop project. USL doesn't have classes that might be useful from source code for standard user that just want to compile USL to JSON.

[2016-06-04 11:12] czyzby commented on #9
It seems to work correctly, but there's no description of the extra USL tasks when generating a project with README. For example, `pack` task [adds this description](https://github.com/czyzby/gdx-setup/blob/master/src/main/kotlin/com/github/czyzby/setup/data/project/project.kt#L157-L158):
[code]

[2016-06-04 11:27] #9 closed

[2016-06-04 11:28] kotcrab commented on #9
Ops, completely missed tasks descriptions, should be good now.

[2016-06-04 11:40] czyzby commented on #22
Web socket server-client setup would require third-party libraries, as LibGDX does not provide any web socket server implementation (neither does `gdx-websocket`). Example projects of `gdx-websocket` in its repository should be sufficient.

[2016-06-04 11:40] #22 closed

[2016-06-06 17:00] marszaa opened #30 "Update gdx-facebook"
Add GWT support for gdx-facebook.

http://www.badlogicgames.com/forum/viewtopic.php?f=17&p=93566#p93566

[2016-06-07 12:39] czyzby commented on #30
GWT extension is currently missing source module. https://github.com/TomGrill/gdx-facebook/issues/30

[2016-06-10 10:39] #30 closed

[2016-06-11 11:05] czyzby opened #31 "JogAmp platform"
[JogAmp](http://jogamp.org/) is basically an alternative to LWJGL. There is an [unofficial backend](https://github.com/gouessej/libgdx/tree/master/backends/gdx-backend-jogamp), which is kept pretty much up to date (the latest release supports LibGDX 1.9.3, which happens to be the latest version as I'm writing this). The maintainer claims that JOGL supports Raspberry Pi and Android, not sure about

[2016-06-23 20:30] sreich opened #32 "kotlin templates"
kotlin template for applicationlistener/adapter, seems to create a java class instead. what it should do is create a kotlin one for starters.

[2016-06-24 11:46] czyzby commented on #32
Kotlin is not supported by GWT, which means you cannot target HTML5/WebGL backend. LibGDX itself is written in Java - I'd say that Java is still the default language, and all templates certainly _should not_ be (solely) in Kotlin. With a decent Java-to-Kotlin code converter, starting with a Java project and converting it "manually" is not really that bad.

However, all project templates contributi

[2016-06-24 11:52] sreich commented on #32
No, not at all what I meant to imply. Just that for a language selected, and am additional option(like vis ui etc), it should be in that language.

Of course that'll require a bit of work.

And probably I think the Java ones need improved firstly, specifically the starter options..there doesn't seem to be one for "libgdx game with scene2d". There's a visui one though,which did suit my needs in thi

[2016-06-24 12:02] czyzby commented on #32
By "a bit of work" you mean rewriting every template in every extra language we support. That's probably not going to happen. I don't think I'm even confident enough with Scala to do this right.

Most starter templates aim to be as simple as possible or showcase some library API. Games with too much assets could make the gdx-setup application too big. However, we welcome all contributions.

[2016-06-24 12:09] sreich commented on #32
I was not referring to anything more than a simple equivalent of the visui example,minus the visui for those who want scene2d instead

[2016-06-24 12:19] czyzby commented on #32
Official `gdx-setup` has only 1 project template, which isn't a showcase of LibGDX by any means. The templates we marked as "official" are just that: simple API usage to get you started. It is assumed that the user already knows LibGDX API, more or less.

"Unofficial" project templates are showcases of _external_ libraries, which might not be as well known as the official ones. This is the only re

[2016-06-28 17:20] kotcrab commented on #6
@czyzby added basic template, would you care to check?
It shows basic example how to load exported project and how to include custom system into scene. It also copies project files that can be opened in VisEditor.

[2016-06-29 10:48] czyzby commented on #6
Great, I think it's more than enough to get you started - I'd just change the atlas filter settings to improve the scaling.

[2016-06-29 11:10] #6 closed

[2016-07-28 15:05] czyzby opened #33 "gdx-video extension"
[gdx-video](https://github.com/libgdx/gdx-video) is a (semi?) LibGDX official extension that could be included in `gdx-setup`.

[2016-07-28 19:19] kotcrab commented on #33
Is this even supported? Last [build](http://libgdx.badlogicgames.com:8080/) was 7 month ago and project is disabled in CI. Kind of makes me want to write such library using some C++ lib for playback. :P

[2016-07-29 07:10] czyzby commented on #33
Not sure, we'd probably have look into it - check if it even works.

[2016-08-27 14:35] WimpyMistake opened #34 "Unable to run android project on real devices"
I downloaded latest version from this link https://dl.kotcrab.com/libgdx/gdx-setup-latest.jar.
Generated a project with core, desktop, android backends.
Choose Viseditor from third-party tab.
Choose Basic VisEditor from template.
Project generated successfully.
Able to run the desktop project.
But when running android project with real device (adb debugging ON), receive this error from logcat http

[2016-08-27 15:15] WimpyMistake commented on #34
Update:
Running via gradle task works. It just running as Android Application by right-clicking android project in Eclipse doesn't work

[2016-08-28 07:15] czyzby commented on #34
This is because Gradle defines where the assets folder is located and Eclipse (with its plugin) probably does not check its data. I had no problems running the project on a real device via IntelliJ/Android Studio. I'd check the Eclipse plugin settings for this particular project - maybe there's a way to define custom path to Android application assets. I think that keeping assets in a separate "mo

[2016-08-28 07:15] #34 closed

[2016-10-01 17:54] czyzby opened #35 "Ink language extension"
[blade-ink](https://github.com/bladecoder/blade-ink) is a LibGDX-compatible Java implementation of [Ink](https://github.com/inkle/ink) - a scripting language for writing interactive narrative. See [the forum topic](http://www.badlogicgames.com/forum/viewtopic.php?f=17&t=23806).

[2016-10-01 17:55] czyzby opened #36 "KTX extensions"
[KTX](https://github.com/czyzby/ktx) is a set of Kotlin LibGDX extensions.

[2016-10-01 18:14] czyzby opened #37 "Update Gradle wrapper to Gradle 3.1"
Gradle 3 runs all tasks through the daemon by default (which significantly speeds it up).

[2016-10-01 18:17] #35 closed

[2016-10-01 18:22] #37 closed

[2016-10-01 18:23] czyzby commented on #37
@kotcrab Could you check if the new wrapper is OK?

[2016-10-01 18:55] czyzby opened #38 "KTX templates"
- [ ] Simple Kotlin application with some basic KTX features.
- [ ] Advanced KTX usage. `Scene2D`?

[2016-10-01 19:40] #36 closed

[2016-10-01 19:42] czyzby commented on #32
See #38. Since we (together with @kotcrab) prepared some LibGDX Kotlin utilities - [KTX](https://github.com/czyzby/ktx) - it's likely we'll add some Kotlin project templates to showcase its usage.

[2016-10-01 19:42] #32 closed

[2016-10-01 19:47] czyzby commented on #38
@kotcrab Would you like to add a `ktx-vis` template to `gdx-setup`?

[2016-10-01 19:49] czyzby commented on #19
@tommyettinger Any updates on this? To be honest, the "simple" example is already pretty great and a link to your documentation should be enough for most people interested in grid-based games. If you lack the time to create an even more advanced template, I can close this issue.

[2016-10-01 19:53] czyzby commented on #29
JTransc backend seems to be currently on hold. The issue will be reopened when the backend becomes stable.

[2016-10-01 19:53] #29 closed

[2016-10-01 20:00] #18 closed

[2016-10-01 20:03] czyzby commented on #31
Seems like this backend is not currently maintained (I'm still waiting for the author's response on the forum), and it basically offers nothing that the other desktop platforms would lack. I'm closing this issue for now, but it can be reopened when (if?) the backend gets updated.

[2016-10-01 20:03] #31 closed

[2016-10-02 02:58] tommyettinger commented on #19
Sure, feel free to close; I can't think of much to put in the advanced demo that is short of a full game. I'm trying to figure out how to best publish javadocs for this, and I really need to add a decent wiki article for how to go ahead from the starting point. The next version should be out soon; the biggest change is that there's a third, optional, module in SquidLib that relies on LibGDX like t

[2016-10-02 09:24] czyzby commented on #19
It's OK. I'd appreciate if you commented in this issue once you're done releasing the next version.

Well, there's a link to the project next to each third-party library. I'm pretty sure anyone interested in your libraries is likely to click these, so it might be a matter of cleaning up your README (it seems that it contains a lot of legacy data, kind of like a change log) and including the assets

[2016-10-02 20:40] kotcrab commented on #37
Looks like the wrapper works correctly on Windows.

[2016-10-02 20:42] kotcrab commented on #38
Yeah I can add it or if you are going to make `scene2d` template you can also make `vis` template so they would be more or less consistent. Whatever you prefer.

[2016-10-03 07:12] czyzby commented on #38
If you want to showcase some VisUI widgets, you can go ahead and prepare a custom project template, but if we're going with simple templates (kind of like the existing one-window-only basic Scene2D templates), switching from `ktx-scene2d` to `ktx-vis` should be a matter of switching the import.

[2016-10-03 07:54] czyzby commented on #38
Somewhat blocked by https://github.com/czyzby/ktx/issues/21.

[2016-12-12 08:22] czyzby opened #39 "Update to LibGDX 1.9.5"

[2016-12-12 09:34] #39 closed

[2016-12-13 11:09] czyzby opened #40 "Update to GWT 2.8.0"
GWT 2.8.0 is now the default version used by the GWT backend.

[2016-12-13 11:15] #40 closed

[2017-01-06 01:44] BenMcLean opened #41 "Add Joise as third-party extension"
The new [Joise 1.0.3](https://github.com/SudoPlayGames/Joise) is now GWT-compatible and it would be nice to include it. The major advantage Joise has (for me at least) over SquidLib (which I'm also using) and Noise4J is that Joise can do seamless a.k.a. wrapping a.k.a. repeating noise.

[2017-01-08 14:32] czyzby commented on #41
Never really got a chance to use SquidLibg, but it does look much more feature-complete than Noise4J. I'll look into it.

[2017-01-08 15:01] czyzby commented on #41
I'm having trouble downloading the library and it currently seems to be [unavailable](http://mvnrepository.com/search?q=joice) on Maven Central.

![joice](https://cloud.githubusercontent.com/assets/11707612/21750783/90922278-d5bb-11e6-9ddf-602ddb431667.png)
![joice2](https://cloud.githubusercontent.com/assets/11707612/21750790/a43928f8-d5bb-11e6-9b0d-508ec070a7e1.png)

Any ideas?

[2017-01-08 15:16] BenMcLean commented on #41
Sure you spelled it right? It's Joise not Joice.

On Jan 8, 2017 9:01 AM, "MJ" <notifications@github.com> wrote:

[2017-01-08 15:18] czyzby commented on #41
...I'm too tired for this job. You're absolutely right.

[2017-01-08 15:31] #41 closed

[2017-01-08 15:31] czyzby commented on #41
OK, GWT project seemed to compile successfully with this library. Thanks for your suggestion and sorry for the silly typo. ; )

[2017-02-06 17:50] czyzby opened #42 "Update GdxAI version"
GdxAI 1.8.1 was released.

[2017-02-11 04:55] WimpyMistake opened #43 "unable to increase android target version in 1.9.5-beta1"
As per title, im using gdx-setup 1.9.5-beta1.
In Advanced tab:
- unable to increase Target Android API to more than 23 (current is 25)
- and also this values didn't get remembered (i set values first then exit the app, then reenter the app, the values return back to original values) not sure if its intended though.
  - Java Version - changed to 1.7 then return to 1.6
  - Android plugin - changed t

[2017-02-12 13:23] czyzby commented on #43
Yeah, not every single setting is saved in user preferences - we designed it this way, since some preferences might vary from project to project and since most are not limited by a list of valid values (like GWT) or numeric ranges (like Android SDK). Some users might save invalid values in their preferences and use them for all projects by mistake.

Anyway, I updated the accepted Android SDK versi

[2017-02-12 13:31] czyzby commented on #43
We might look into preferences that could be possibly saved in the preferences before the next release, I'm leaving this open for now. Use the latest snapshot build to target Android API up to 25.

[2017-02-18 11:48] czyzby opened #44 "Include TypingLabel extension"
[TypingLabel](https://github.com/rafaskb/typing-label) is an extension of the Scene2d `Label` widget.

[2017-02-27 01:52] tommyettinger commented on #19
I'm pretty late on this, but I just updated SquidLib to 3.0.0-b8 and the demo is significantly updated as well.
I'm not sure what the best way to give the dependency info is, because there are 3 parts to SquidLib, but I'd only consider 2 to be reasonable as options during project creation. What I think the info needed is:
- (should go in the list) [squidlib-util 3.0.0-b8](http://search.maven.org/#

[2017-02-27 08:19] czyzby commented on #19
Thanks, I'll try to update the demo next weekend.

[2017-03-07 16:47] czyzby opened #45 "Update to LibGDX 1.9.6"

[2017-03-10 22:08] #42 closed

[2017-03-10 22:08] #44 closed

[2017-03-10 22:08] #45 closed

[2017-03-10 22:16] czyzby commented on #19
To be honest, the current demo is very similar in terms of functionality, works with your latest library version and looks much better. I don't know if it's just me or if that's just he fonts, but your previous  demo has this sort of a nice console feel. In the new version the `@` character seems off and more like a drawn sprite than text, a non-monospaced font is used and the bottom of the screen

[2017-03-10 22:16] #19 closed

[2017-03-10 23:41] tommyettinger commented on #19
It's possible that's an asset thing and it's using the libgdx default font because it can't find the requested .fnt file (they aren't bundled in the lib any more, to avoid bloating the jar where they can' be removed if unused). I think I linked at the top of the demo's source to the exact paths to the files that demo needs if you want to include them, or there could be some step in Gradle setup to

[2017-03-11 11:00] czyzby commented on #19
Yeah, I must have run incorrect project after cloning the demos. `3.0.0b-8` works as expected, I'll update the demo soon.

[2017-03-11 11:19] czyzby commented on #19
Try downloading the latest runnable (link in the description) and check if it's OK.

[2017-03-12 01:05] tommyettinger commented on #19
Works great! Thanks for handling this. I had one small issue (that I think was an IntelliJ IDEA bug) when using auto-import, which made the imported project consider any sub-modules to be ordinary folders without source or projects in them. I re-imported the project with auto-import off and it works like a charm. The assets load successfully, although there was a small comment at the top of the de

[2017-03-21 02:44] tommyettinger opened #46 "Generated GWT projects fail in browser due to outdated JS"
The official libGDX setup tool recently updated a specific file, [soundmanager2-jsmin.js](https://github.com/libgdx/libgdx/blob/master/extensions/gdx-setup/src/com/badlogic/gdx/setup/resources/html/war/soundmanager2-jsmin.js), to the most recent version as part of the libGDX 1.9.5 and GWT 2.8.0 update. The problem is, if an application uses libGDX 1.9.5 or 1.9.6 but has a soundmanager2-jsmin.js fi

[2017-03-21 06:41] czyzby commented on #46
Thanks.

[2017-03-21 07:05] tommyettinger commented on #46
No, thank you! I think this is the first "somewhat-of-an-inconvenience"-level bug I've encountered with gdx-setup as a user, which is more than I can say of the official setup. I think I should be able to recommend this setup tool over the standard libGDX one to users of my library [SquidLib](https://github.com/SquidPony/SquidLib). That lets me avoid the ugliness of the custom setup tool attempt I

[2017-03-21 07:13] czyzby commented on #46
Yeah, I wish stuff like SoundManager was in the classpath, since it's a part of the codebase. Now I have to recreate some sort of versioning system and put the correct library for each LibGDX version. I'll look into it later today and push another beta release.

[2017-03-21 17:48] czyzby commented on #43
You can already target Android API up to 25. I'm closing this issue. If you think any particular settings should be saved in user preferences and remembered for each project, please file a separate issue.

[2017-03-21 17:48] #43 closed

[2017-03-21 17:49] #46 closed

[2017-03-21 17:53] czyzby commented on #46
There. I really didn't want to have to check LibGDX version and include different SoundManager sources, but there it is. It seems to work for both latest version (1.9.6) and older ones (pre-1.9.4) - provided you choose the correct GWT version. You can check out the latest beta release.

[2017-03-22 04:39] tommyettinger commented on #46
Thanks! Will do.

[2017-03-25 01:22] xaguzman opened #47 "Output stream not shown in Intellij run tab"
I created a project using this tool, and everything is smooth!

The only thing that is affecting me is the fact that the project created with the tool will not display calls to Gdx.app.log, or System.out.println in the "run tab", making it quite dificult to debug at times.

I am quite sure this is related to the project, as my previous project (created with the official tool) is able to display th

[2017-03-25 09:57] czyzby commented on #47
I don't think this is a gdx-setup issue and I have never encountered a bug like this. Off the top of my head:
* Have you checked the run configuration of the desktop project? Maybe standard output if somehow blocked.
* If you changed LibGDX `Application` logging level, `Gdx.app.log` calls might be ignored.
* Have you tried overriding `System.out` somehow? Not something you usually do, but I think

[2017-03-26 00:35] xaguzman commented on #47
I have no idea what happened, I just reimported the project in intellijidea and now the output seems to be working...
Thanks for the suggestions though!

[2017-03-26 11:04] czyzby commented on #47
Glad it works.

[2017-03-26 11:04] #47 closed

[2017-04-13 16:42] NathanMBui opened #48 "Can't create project with ios-MOE"
I followed the instruction in official MOE website (install eclipse plugin then create a project) to install MOE on my mac. But still can not check the "ios MOE" platform. It keep prompt "Intel's Multi OS Engine is not installed"

[2017-04-13 16:51] czyzby commented on #48
@kotcrab Can you check this out?

[2017-04-13 16:58] czyzby commented on #48
@NathanMBui This is the check performed to see if MOE is installed: `if (System.getenv("INTEL_MULTI_OS_ENGINE_HOME") == null)`. The property name might have been changed, is different on Mac or simply incorrectly set in your case. We need to investigate it further, but for now - as a workaround - please [set environment variable manually](https://stackoverflow.com/questions/7501678/set-environment

[2017-04-13 17:06] NathanMBui commented on #48
Thanks for your quick replies
Don't know if this is actually the path to set environment variable:
"/Users/NathanBui/.moe/moe-sdk-1.3.6"
It contains 2 folder: sdk and tools
so I add these line to bash_profile:
export INTEL_MULTI_OS_ENGINE_HOME=/Users/NathanBui/.moe/moe-sdk-1.3.6/sdk
export PATH=${INTEL_MULTI_OS_ENGINE_HOME}:$PATH

It said "//moe: No such file or directory"

[2017-04-13 17:18] czyzby commented on #48
I'm unfamiliar with Macs, to be honest. However, I don't think you need this line, unless you want to execute some programs from MOE home directory (which I doubt):
`export PATH=${INTEL_MULTI_OS_ENGINE_HOME}:$PATH`

Try creating both `.profile` and `.bash_profile` files (note the dot!) with this content:
`export INTEL_MULTI_OS_ENGINE_HOME=/Users/NathanBui/.moe/moe-sdk-1.3.6`
The thread I posted li

[2017-04-13 17:34] NathanMBui commented on #48
I successfully set the environment, restart to make sure it affect. then use the command "printenv" to check again. so it in environment now: INTEL_MULTI_OS_ENGINE_HOME=/Users/NathanBui/.moe/moe-sdk-1.3.6

[2017-04-13 17:35] czyzby commented on #48
OK, does `gdx-setup` work as expected with the variable in place?

[2017-04-13 17:43] czyzby commented on #48
1. Can you run `gdx-setup` from command line to see if it helps? `java -jar gdx-setup.jar`.
2. Can you run this simple Java application to see if the environment variable is read correctly?

[code]

If it prints `null`, Java has problem reading your environment variables.

[2017-04-13 17:50] NathanMBui commented on #48
1. Ok it let me check the button. thanks for your help and patient.
2. Java does return null

[2017-04-13 17:54] NathanMBui commented on #48
PS: I have checked other variables and java return null all of them. maybe something wrong with java / OS X / Eclipse ??

[2017-04-13 17:55] kotcrab commented on #48
@czyzby This variable seems to be no longer important in MOE. Similar check was removed in original gdx-setup in commit https://github.com/libgdx/libgdx/commit/429bd1d6356054294a8f5a3ed7ec93f9773a3998.
Looks like it was replaced by `MOE_HOME` but the check was removed anyways.

We are also using old version `1.1.0.final-1`, we need to update to `1.3.2`.
It requires changing setup project files. Re

[2017-04-13 18:32] czyzby commented on #48
@kotcrab Can you update MOE project generation in `gdx-setup`?

[2017-04-13 18:50] kotcrab commented on #48
@czyzby Ok, I will do it tomorrow

[2017-04-13 18:52] czyzby commented on #48
Thanks, much appreciated.

[2017-04-14 13:48] kotcrab commented on #48
Done, updated to `1.3.2`.

@NathanMBui Download latest [snapshot](https://dl.kotcrab.com/libgdx/gdx-setup-latest.jar) and try generating project. I'd appreciate if you could also try to fully build it using XCode.

[2017-04-14 13:54] czyzby commented on #48
@kotcrab Thank you!

@NathanMBui I'll close the issue once you confirm that you have no problem generating and running iOS MOE project using the latest snapshot release.

[2017-04-14 14:13] NathanMBui commented on #48
I generated new project but can't build using gradle or xcode (I didn't change anything). here is the error:

FAILURE: Build failed with an exception.

* Where:
Build file '/Users/NathanBui/Documents/Workspace/Projects/chess24h/TestMoe/ios-moe/build.gradle' line: 38

* What went wrong:
A problem occurred evaluating project ':ios-moe'.

* Try:
Run with --info or --debug option to get more log outpu

[2017-04-14 14:20] kotcrab commented on #48
I think we are missing `apply plugin: "moe"` from MOE `build.gradle`. Try adding it at the top.

[2017-04-14 14:20] czyzby commented on #48
@kotcrab I can be wrong, but Gradle MOE plugin seems to be missing. I think we went for plugins inside project Gradle files - official `gdx-setup` keeps them inside the root Gradle file, so you could have missed it.

[2017-04-14 14:22] czyzby commented on #48
@kotcrab
https://github.com/czyzby/gdx-setup/blob/master/src/main/kotlin/com/github/czyzby/setup/data/platforms/android.kt#L20
https://github.com/czyzby/gdx-setup/blob/master/src/main/kotlin/com/github/czyzby/setup/data/platforms/android.kt#L90

[2017-04-14 14:36] kotcrab commented on #48
@czyzby MOE plugin was added to `buildscript` dependencies but it was missing `apply plugin` declaration from module `build.gradle`. Sorry for this, my "Mac" randomly stops downloading dependencies so it's hard to test.

@NathanMBui please try new snapshot (same link) or manually add `apply plugin: 'moe'` to `ios-moe/build.gradle`

[2017-04-14 14:36] NathanMBui commented on #48
build using gradle is ok but error on xcode:
ld: file not found: /Users/NathanBui/Documents/Workspace/Projects/chess24h/TestMoe/ios-moe/xcode/native/ios/libObjectAL.a
clang: error: linker command failed with exit code 1 (use -v to see invocation)

xcode: 8.3.1
ios SDK: 10.3

[2017-04-14 14:40] kotcrab commented on #48
@NathanMBui Hmm I'm getting same error when building project generated from official gdx-setup

[2017-04-14 14:42] czyzby commented on #48
GREAT, THEN IT'S FIXED.

[2017-04-14 14:52] kotcrab commented on #48
Looks like you need to call `gradlew copyNatives` before building for first time. No idea where it is documented in libgdx wiki.

[2017-04-14 15:12] NathanMBui commented on #48
It works. Another question: How can I run it in eclipse?. I imported project as a Gradle but can not run as a MOE project. I have installed MOE plugin and be able to create a MOE project

[2017-04-14 15:53] czyzby commented on #48
I'm glad it finally worked - I'm going to close this issue for now, but if you have any problems with the generated iOS projects, don't hesitate to reopen.

I think we're both using IntelliJ, so I'm afraid you'll have to figure it out yourself. Since the generated project should roughly match official LibGDX structure, you can ask this question on the [official forum](http://www.badlogicgames.com/

[2017-04-14 15:53] #48 closed

[2017-04-14 16:11] kotcrab commented on #48
I pushed one more commit with fixes. We are using standard source set so no need to change that and I fixed adding native dependency. Without this build would succeed but app would fail at runtime.

You actually don't have to use XCode for building, it must be installed but you can run build from Java IDE.
In case of IntelliJ you will have MOE launch configuration by default so just press Launch b

[2017-04-18 19:24] Charanor opened #49 "Android incorrect assets folder location."
Hey. I'm using a clean install (see exact settings below) and I can't access the assets folder when running the application on my android device. Accessing the assets works just fine on desktop. I use `Gdx.files.internal()` to try to access the assets folder. I've tried debugging the problem and these are some conclusions I've come to:

- The directory **exists** (`Gdx.files.internal("").exists()`

[2017-04-18 19:35] czyzby commented on #49
Are you facing this issue when running the application via an emulator or on an actual device?

We moved `assets/` to the root folder to make the folder structure more flexible and independent of chosen platform. Original `gdx-setup` puts `assets/` inside `android/` instead of the root directory. We tested Android project after moving the `assets/` to root and it seemed to work fine.

As a workaro

[2017-04-18 19:39] Charanor commented on #49
I'm running it from my own android device (Sony Xperia Z5 Compact). Reproducing should be easy - it's a completely clean install with the above settings. I'll try to put the `assets/` folder in `android/` and let you know if it works.

[2017-04-18 19:57] czyzby commented on #49
Could you check if you can run the application via the emulator? I've just installed API v. 25 with build tools at 25.0.2 and successfully ran an application with assets generated by the `gdx-setup`. What IDE are you using? Is the assets folder marked as Android resources root?

![assets](https://cloud.githubusercontent.com/assets/11707612/25150331/dde77d1a-2481-11e7-86c6-6f8d8595b054.png)

[2017-04-18 20:09] Charanor commented on #49
_Placing the `assets/` folder in the `android/` folder seems to have solved the problem._

-----

I'm using Eclipse as my IDE, and using an emulator produces the same result. My Eclipse doesn't mark folders like your IDE does so I can't be sure.

PS. If it wasn't clear - I can run the application just fine, it's just that it doesn't find the `assets` folder.

[2017-04-18 20:15] czyzby commented on #49
I'm glad it worked for you. I suggest you move to Android Studio if you plan on focusing on mobile platforms, though.

Yes, I know. I generated a project with files (simple Scene2D template) that were loaded with `Gdx.files.internal` at runtime. I tested it a while back and while I'm unable to check it on an actual device right now, it looks like it's an Eclipse issue - maybe it has problems marki

[2017-04-18 20:15] #49 closed

[2017-04-18 20:24] czyzby commented on #49
It does. Your IDE does not handle that. I might be wrong, but the Android plugin for Eclipse is no longer maintained and out of date.

![assets](https://cloud.githubusercontent.com/assets/11707612/25151416/ce07df1c-2485-11e7-9284-aa29f02bf9b0.png)

[2017-04-18 20:26] Charanor commented on #49
Alright, thanks for your help!

[2017-04-18 20:28] czyzby commented on #49
No problem. Try switching to IntelliJ/Android Studio with Eclipse key mappings. You won't look back. Trust me, I've been there. ;)

[2017-04-18 21:27] kotcrab commented on #49
Can confirm it works on my device when launched from IntelliJ, though I had to bump up `buildToolsVersion` before it created APK.

![2017-04-18_2322](https://cloud.githubusercontent.com/assets/4594081/25153829/4d65ae80-248e-11e7-9f65-a83463d909b8.png)

@czyzby Should we change default version?

Yup, same here.

[2017-04-18 21:30] czyzby commented on #49
@kotcrab Yeah, `25.0.2` seems like a good idea.

[2017-04-18 21:31] czyzby commented on #49
I'll take care of it.

[2017-07-12 07:46] tommyettinger opened #50 "Android Gradle files have error that prevents building"
I can work around this if need be, but the fix is trivial so I'd like to see it in the main application. In the generated build.gradle for an android module, the command adb is called as part of a list of arguments, as seen in the code here https://github.com/czyzby/gdx-setup/blob/master/src/main/kotlin/com/github/czyzby/setup/data/platforms/android.kt#L189 . But, Gradle won't interpolate Strings

[2017-07-12 09:55] czyzby commented on #50
This is likely to affect the official gdx-setup as well (unless it was fixed), since we based or implementation on the the official Gradle scripts.

[2017-07-12 19:19] tommyettinger commented on #50
The official gdx-setup has used the interpolating double quotes since the run command was added, see the early version from 2014: https://github.com/libgdx/libgdx/blob/ecb6beda12d2109dfeb0e70764ca1e621e0580ce/extensions/gdx-setup/src/com/badlogic/gdx/setup/resources/android/build.gradle#L50 and the current version with interpolating double quotes on all sections with a `$`: https://github.com/libg

[2017-08-03 13:52] czyzby opened #52 "Update Gradle wrapper to 4.0.2"

[2017-08-03 17:27] #52 closed

[2017-12-17 21:47] snordgren opened #53 "Set HdpiMode to HdpiMode.Pixels to remove pixelated look on OS X"
Hi, first of all I'd like to thank you for a very well-made and useful tool. Now, I use a Mac to develop sometimes, and the setup tool looks pixelated and grainy on this platform - usually this problem is caused by the HdpiMode not being set to Pixels in the Lwjgl3ApplicationConfiguration.

If you could add a `config.setHdpiMode(HdpiMode.Pixels)`-line to the launch logic, at least for OS X, that'd

[2017-12-17 21:57] czyzby commented on #53
Thanks, I'll look into it. Can you think of any other issues with LibGDX application on Macs?

[2017-12-18 21:46] snordgren commented on #53
Not really, no. -XstartOnFirstThread is already handled, after all.

Using HdpiMode.Pixels makes the display crisp on Mac, but it also doubles the resolution, so some UI elements may not render as intended - I haven't tested though.

[2018-01-29 09:12] hacker1024 opened #54 "There is no OpenGL context current in the current thread."
[code]

[code]

[2018-01-29 09:52] czyzby commented on #54
This seems like a LibGDX issue. I believe [this might be the fix](https://github.com/czyzby/gdx-setup/blob/master/src/main/kotlin/com/github/czyzby/setup/main.kt#L32-L38) for your problem. Try setting `XstartOnFirstThread` flag when running the application. Are you using a Mac?

[2018-01-29 11:17] hacker1024 commented on #54
Thanks for replying so quickly!
XstartOnFirstThread doesn't help.
I'm using Arch Linux on a desktop PC

[2018-01-29 11:26] czyzby commented on #54
It might be an issue with your OpenGL settings. Can you check if you can run empty LibGDX applications (using both LWJGL 2 and 3) generated with the official gdx-setup?

[2018-01-29 23:29] hacker1024 commented on #54
I can run a LibGDX app with the default settings, I don't know what LWJGL version is used or how to change it.
I've been able to run any other app/game that uses LWJGL on this computer.

[2018-01-30 07:11] czyzby commented on #54
`gdx-setup` uses LWJGL 3, [this blog post](www.badlogicgames.com/wordpress/?p=3870) describes how to migrate. Can you also check if you can run LWJGL 3 apps?

[2018-02-17 20:10] Humberd opened #55 "Cannot start generated Autumn MVC desktop application when the project was created alongside Android app"
**Current behaviour:**
When running `DesktopLauncher.main()` form IntelliJ it throws the following exception

[code]

**Expected behaviour:**
Desktop App should launch properly.

**Steps to reproduce:**

1. Download `1.9.6-beta5.jar`
2. In the `Platforms` tab select `Desktop` and `Android`
3. In the `Templates` tab select `Autumn MVC + VisUI`
4. Run `DesktopLauncher.main()`

**Specs:**

- Java 1.8

[2018-02-17 20:58] snordgren opened #56 "Could not get unknown property 'assetsDir' for project ':lwjgl3'"
I generated a new project, and was unable to run the LWJGL 3 project. The assetDir property is not set on the LWJGL 3 project.

[2018-02-17 21:05] snordgren commented on #56
Nevermind - this was due to copy-pasting a run config from another LibGDX project.

[2018-02-17 21:05] #56 closed

[2018-02-17 22:05] czyzby commented on #55
Cannot reproduce. Which IDE do you use? How do you import the project? If you are using IntelliJ, I suggest turning on `Build, Execution, Deployment > Build Tools > Gradle > Runner > Delegate IDE build/run actions to gradle` in `Settings`.

BTW, Autumn is mostly discontinued. I update it only every once in a while when I happen to have some free time, but I don't develop it actively anymore. You m

[2018-03-01 05:25] yulens commented on #54
Had same issue on linux with openjdk 1.8.0_151. Solved by updating libGDX version in `gradle.properties` to 1.9.8.

[2018-03-01 08:45] czyzby commented on #54
Thanks @yulens, I'll update `gdx-setup` this weekend.

[2018-07-11 13:00] vivissj3 opened #57 "Root project path of the Gradle project not found for Module:"
I've been trying for hours to setup a basic project for playing around with Kotlin,

when created, I had to update gradle plugin to at least 2.3.3 to just have a successful gradle build.

But then, in Android Studio (3.1.3) when opening the project, the IDE keeps throwing the following error:

And details:

`Root project path of the Gradle project not found for Module: 'gdx-project'
com.intellij.o

[2018-07-11 15:25] czyzby commented on #57
Does `gradle build` command fails when used outside of the IDE? Can you import the project in regular IntelliJ rather than Android Studio? This looks like a Gradle issue, maybe changing Gradle version would help.

[2018-07-11 15:32] vivissj3 commented on #57
It builds successfully when run from the cli.
I've nuked my Android Studio since, run the setup for the project again and this time it run. I guess this can be closed.

[2018-07-11 15:32] #57 closed

[2018-07-11 15:49] czyzby commented on #57
Glad you worked it out.

[2018-07-23 01:51] njdwklopper opened #58 "Java Runtime issue"
λ gradle run --stacktrace

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x000007fec4b870c0, pid=7104, tid=0x00000000000014f0
#
# JRE version: Java(TM) SE Runtime Environment (8.0_181-b13) (build 1.8.0_181-b13)
# Java VM: Java HotSpot(TM) 64-Bit Server VM (25.181-b13 mixed mode windows-amd64 compressed oops)
# Problematic fr

[2018-07-23 02:41] njdwklopper commented on #58
[hs_err_pid7104.log](https://github.com/czyzby/gdx-setup/files/2217751/hs_err_pid7104.log)

[2018-07-23 02:49] njdwklopper commented on #58
Crash also happens with directly downloaded JAR from Releases and ran as:
`java -jar gdx-setup-1.9.6-beta5.jar`

[2018-07-25 05:47] njdwklopper commented on #58
Okay, blame the JVM here. Works on any other JDK/JRE before 172 or OpenJDK

[2018-07-25 05:47] #58 closed

[2018-08-13 12:38] JaffarSidekJaffar opened #59 "Lack of Accessibility"
### Hi.  I found your Alternative Gdx.jar while looking up for some skins that Me and my friends could use for developing a game.  I am using LibGdx for developing our game and so used the mainstream gdx.jar setup app to create my project.  The mainstream version is til now, accessible, that is to say, I am able to fill up and tick the appropriate boxes to lay the foundations for my game project.

[2018-08-13 13:28] czyzby commented on #59
Hi @JaffarSidekJaffar, thanks for your input. The official gdx-setup uses Swing, which seems to have built-in accessibility. This application was created using LibGDX itself - and since LibGDX unfortunately does not support screen readers, neither do we. I'm afraid this would require changes in the framework itself - you could try adding an issue in the official LibGDX repository.

If you're mostl

[2018-08-13 13:29] #59 closed

[2018-08-14 13:23] sbalbach opened #60 "generated GdxDefinition.gwt.xml files have wrong DOCTYPE"
Should be:

!DOCTYPE module PUBLIC "-//Google Inc.//DTD Google Web Toolkit trunk//EN" "http://google-web-toolkit.googlecode.com/svn/trunk/distro-source/core/src/gwt-module.dtd"

Note that I had to remove the angle brackets <> so it would show up in git.

[2018-08-14 13:59] czyzby commented on #60
I believe we copied it from the original gdx-setup, so they might have (or had) the same issue.

[2018-08-15 10:29] DavidPartouche commented on #38
@czyzby I've created a Ktx boilerplate code, using kotlin-dsl, that could be used as a start of a template for gdx-setup. There's still some work to do on the gradle side, but for the code, it creates a Lwjgl3Application, and uses `KtxGame` and `KtxScreen`. If you want to have a look at it, and give any input/suggestions:
https://github.com/DavidPartouche/ktx-boilerplate

[2018-08-15 10:49] czyzby commented on #38
`gdx-setup` templates usually render an image, at the very least. `KtxGame` without any overloaded methods and without setting the first screen would be somewhat hard to use for a beginner. Check the basic ("classic") templates that render LibGDX logo - converting that to Kotlin with some basic KTX features would be enough as far as the first KTX template goes.

[2018-08-16 02:35] DavidPartouche commented on #38
Ok, the classic boilerplate is done. I'm gonna start to add the template to gdx-setup.

[2018-08-17 06:56] DavidPartouche commented on #38
I've created a new classic template, the feature branch is here:
https://github.com/DavidPartouche/gdx-setup/tree/feature/ktx-classic
I'm not pushing it yet, because some things are missing:

- `KTX_VERSION` hard-coded, we should ask the user which version to use, but at the moment all the ktx packages are selectable in Third-party with individual versions, I guess that would be better that the us

[2018-08-17 07:37] czyzby commented on #38
`KTX_VERSION` only determines the default version for the dependencies. If the user changes that in the third-party extension menu, it will affect dependencies required by your template.

Groovy DSL is fine for now, until Kotlin matures and becomes the standard.

I actually thought about this for a while, but I just don't have as much time for open source as I did when I was still the the universi

[2018-08-17 09:48] DavidPartouche commented on #38
Ok, I've made the change. I still have to use `fun addKotlin()` in `languages.kt` so that the project can launch. I don't know if there's a better way to do it, just let me know.

[2018-08-17 10:25] czyzby commented on #38
I wouldn't ask you to write the application from scratch, knowing I might not have enough time to contribute. I think the work you started on `ktx-tools` and the KTX template is already great. I feel like there are more important thing we can do for KTX, like actual game examples and some simple tutorials. KTX is pretty easy to add to an existing LibGDX project as it is.

[2018-08-18 01:11] DavidPartouche commented on #38
Ok, I'll jump back to `ktx-tools`. If there are other Ktx templates you'd like to have, just let me know, now that I've done one, creating other templates will be quick.

[2018-08-19 11:29] DavidPartouche opened #62 "jglfw project doesn't compile"
the last version of `gdx-backend-jglfw` is `1.9.6`, while setting up a project for it tries to compile `$gdxVersion` (`1.9.8`). So Maven can't find the package.

In the backlog of libGDX 1.9.7 it says:

So we should we remove it from gdx-setup also?

[2018-08-19 12:13] czyzby commented on #62
Definitely.

[2018-08-20 06:48] #62 closed

[2018-08-20 11:44] czyzby commented on #55
I cannot reproduce the error, so I'm going to close the issue for now. Feel free to reopen if the issue persists.

[2018-08-20 11:44] #55 closed

[2018-08-20 11:45] czyzby commented on #54
LibGDX version will be updated in #61.

[2018-08-20 11:45] #54 closed

[2018-08-20 11:46] czyzby commented on #7
LML and Autumn are in maintenance mode, this issue can be closed.

[2018-08-20 11:46] #7 closed

[2018-08-21 06:12] czyzby commented on #38
Thanks @DavidPartouche. I'll release the next beta version this week.

[2018-08-24 08:06] DavidPartouche commented on #38
I've created a new sample, taken from gamesfromwithin, and changed to use Ktx
https://github.com/DavidPartouche/KtxGraphicDemo
As it uses `KtxApplicationAdapter` and `AssetManager` to load the texture, would you like to have it also implemented as a template? It's quite basic though, so I don't know about the value of it.

[2018-08-24 15:37] czyzby commented on #38
I don't think we need much more templates, except some advanced KTX usage.

@DavidPartouche If you add a screenshot and improve the README a bit (how to run, how to compile, etc.), I can link your repo in the official KTX documentation. Maybe a separate repository for KTX examples would also be nice.

[2018-08-25 00:05] DavidPartouche commented on #38
Yeah I was thinking about doing this, going through the LibGDX tutorial on Games from Scratch, and adding a repo for all the examples converted to KTX.

[2018-12-09 03:23] keturn opened #67 "include unit test in project template"
The Kotlin / KTX templates have been useful in getting started!

Now I'm trying to write a unit test, and I'm having a heck of a time getting the tests to see the things in my core package. It'd help to have a test in the project template to show how it works.

Tests should be runnable both through IntelliJ's test runner as well as a gradle target.

[2018-12-09 08:33] czyzby commented on #67
Why did you try so far? Putting your tests in `src/test/kotlin` should do the trick.

[2018-12-10 03:42] keturn commented on #67
Okay, I tried [moving the test file to nested directories instead of one with dots](https://gitlab.com/keturn/advent2018-gdx/commit/6cda195e332cce97063d64fd28f482461643a205), and that didn't seem sufficient to fix things.

Removing those two [`core` and `desktop` entries from the project structure](https://gitlab.com/keturn/advent2018-gdx/commit/019e605f7e738a7d54f6a7e0da8409403aacf19e) made it so

[2018-12-10 05:41] czyzby commented on #67
It's weird they were included in the first place. How did you import the project?

[2019-01-16 14:12] georgwarden opened #68 "Wrong url for KtxGraphics"
[This link](https://github.com/czyzby/gdx-setup/blob/45a0d457833c5fe7e82f8701129ec64707f592bb/src/main/kotlin/com/github/czyzby/setup/data/libs/unofficial/ktx.kt#L253) under KtxGraphics definition actually directs to KtxStyle. I don't really think it's expected behavior, right?

[2019-01-17 10:50] czyzby commented on #68
It's not. Thanks!

[2019-01-17 10:50] #68 closed

[2019-02-08 02:12] bajabob commented on #38
@DavidPartouche taking some time learning libGdx from scratch and wanted to get off on the right foot with a KTX example since I prefer Kotlin. Do you have a good place to start? I was thinking about following these guides from with a bare working KTX example : https://libgdx.info/basic_image/

[2019-02-20 01:40] Malkierian opened #69 "GWT: Plugin with id 'jetty' not found."
So I just did a fresh install with your latest release, and after generation, I get the error noted in the title.  `gradlew --version` shows Gradle 4.0.2 (I wanted to use 5.x at some point, but found out `leftShift()` is removed in 5.0).  Apparently, Jetty was removed from Gradle as of 4.0.1.  My question is, why is your GWT sub-project so different from GDX's current HTML project?  They don't eve

[2019-02-20 07:08] czyzby commented on #69
They probably use outdated Gradle version or they switched to another plugin like Gretty. The easiest fix would be to downgrade.

[2019-02-20 08:02] Malkierian commented on #69
I actually ended up pulling their build files over, and modifying things to run with Gretty, then upgraded everything to 5.2.1 (had to convert to `doLast` from the `<<` operators).  However, the problem is with your default setup, using the wrapper supplied by the installer (I don't have 4.0.2 installed locally), so it still needs to be addressed.

[2019-02-20 15:47] czyzby commented on #69
I see, thanks for the report. Would you mind uploading your Gretty configuration (or just a `build.gradle` diff) in this issue or as a pull request?

[2019-02-20 17:49] Malkierian commented on #69
If I can get the :gwt project actually building.  I managed to get the core project buildable, but for some reason, even though a library is included in the dependencies, compilegwt isn't finding it in the classpath.  Although, to be fair, I hadn't tried compiling gwt specifically right out of the box yet, so it might be a core issue.  I'll get back to you on that.

[2019-03-10 17:53] wrldwzrd89 opened #70 "Update to LibGDX 1.9.9"
The GDX team released 1.9.9 a while ago, and is working on 1.9.10 (which has a changelog, but no builds yet). However, this app defaults to 1.9.8. Specifying it manually in advanced options works OK - gradle is still able to resolve dependencies. Can we increment the default?

[2019-03-10 23:48] czyzby commented on #70
I think the default version is the one that `gdx-setup` is running on, so if there aren't any breaking changes, it would be a matter of changing one config line. I'll be honest though, I'm not doing any gamedev for quite some time now and I don't actively maintain this project anymore, so I really don't have the time to check if every platform works flawlessly after the update (especially GWT). St

[2019-03-12 02:07] qiujiangkun commented on #70
You can specify it mamually when you need a newer version of gdx

[2019-03-12 17:59] czyzby commented on #70
It's still an issue that should be looked into eventually.

[2019-03-14 15:33] Gloomshroud commented on #70
How is it done manually?

[2019-03-14 16:58] czyzby commented on #70
`Advanced > LibGDX version`. Change the value from 1.9.8 to 1.9.9 and it should work for most platforms.

[2019-10-27 15:48] Sashie commented on #69
anything on this issue yet?